body{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("cards/tableBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#overlay {
    position: fixed;
    inset: 0;
    background: black;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    pointer-events: none;
}

body.ended #overlay {
    opacity: 0.8;
}
#end {
    font-size: 140px;
    color: white;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#end.show {
    opacity: 1;
}
#container{
    width: 200px;
    text-align: center;
    height: 240px;
}
#double{
    display: none;
}
input{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 200px;
    height: 40px;
    font-size: 40px;
}
#deck{
    width: 144px;
    height: 192px;
    float: left;
    background-image: url("cards/BR1.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 30px;
    p{
        margin-top: 160px;
        color: white;
        padding-top: 30px;
    }
}
.card{
    width: 144px;
    height: 192px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    display: inline-block;
}
.card.slide{
    animation: slide 1s;
}
.card.flip{
    transition: transform 0.6s, background-image 0.6s ;

}
@keyframes slide {
    0% {
        transform: translateX(-500%) translateY(-200%);
        opacity: 0.5;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        transform: translateX(0)  ;
        opacity: 1;
    }
}
#chipsLeft{
    position: absolute;
    top: 75%;
    color: white;
    font-size: 50px;
}
#current{
    position: absolute;
    top: 69%;
    color: white;
    font-size: 50px;
}
#bets{
    input{
        width: 100px;
        height: 100px;
        border-radius: 150px;
    }
    .b:nth-child(1){
        background-color: red;
    }
    .b:nth-child(2){
        background-color: blue;
    }
    .b:nth-child(3){
        background-color: green;
    }
    .b:nth-child(4){
        background-color: purple;
    }
    position: absolute;
    top: 85%;

}






